{% extends "checkout/preview.html" %}
{% load currency_filters %}
{% load i18n %}
{% load url from future %}
{% load thumbnail %}

{# Null out the actions as they can't be used here #}
{% block shipping_address_actions %}{% endblock %}
{% block shipping_method_actions %}{% endblock %}
{% block order_contents_actions %}{% endblock %}

{% block payment_method %}
    <div class="span6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            <h4>{% trans "PayU India" %}</h4>
            <p>
                {% blocktrans with amt=payuin_amount|currency basket=payuin_basket %}
                    {{ amt }} will be deducted from your PayU account.
                    Basket Number: {{ basket }}.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}

{# Note, we submit to a different URL for placing an Express order #}
{% block place_order %}
    <form method="post" action="{% url 'payuin-place-order' basket.id %}">
        {% csrf_token %}
        <input type="hidden" name="txnid" value="{{ txnid }}" />
        <input type="hidden" name="basket_id" value="{{ basket.id }}" />

        <div class="form-actions">
            <input id='place-order' type="submit" value="{% trans "Place order" %}" class="pull-right btn btn-primary btn-large js-disable-on-click" />
        </div>
    </form>
{% endblock place_order %}
