<html>
<head>
     <script type="text/javascript">
     function load()
     {
          window.document.payu.submit();
          return;
     }
     </script>
</head>
<body onload="load()" style="display:none;">
<form name="payu" action='{{url}}' method='post'>
<input type="hidden" name="firstname" value="{{firstname}}" />
<input type="hidden" name="lastname" value="{{lastname}}" />
<input type="hidden" name="surl" value="{{surl}}" />
<input type="hidden" name="curl" value="{{curl}}" />
<input type="hidden" name="furl" value="{{furl}}" />
<input type="hidden" name="phone" value="{{phone}}" />
<input type="hidden" name="key" value="{{key}}" />
<input type="hidden" name="hash" value ="{{hash}}" />
<input type="hidden" name="txnid" value="{{txnid}}" />
<input type="hidden" name="productinfo" value="{{productinfo}}" />
<input type="hidden" name="amount" value="{{amount}}" />
<input type="hidden" name="email" value="{{email}}" />
<input type= "submit" value="submit">
</form>
</body></html>
