{% extends 'cartwear/checkout/payment_details.html' %}
{% load url from future %}
{% load i18n %}

{% block payment_details %}
    <div class="well">
        <div class="sub-header">
            <h3>{% trans "PayPal Express" %}</h3>
        </div>
        <p>{% trans "Click on the below icon to use Express Checkout but where the shipping address and method is already chosen on the merchant site." %}</p>
        <div style="overflow:auto"><a href="{% url 'payuin-direct-payment' %}" title="{% trans "Pay with PayPal" %}"><img src="http://www.cybergoodstart.com/wp-content/uploads/2015/05/payu.jpg" align="left" style="margin-right:7px;"></a>&nbsp;</div>
    </div>

{% endblock %}
